<?xml version="1.0"?>
<launch>
    <arg name="world_name" default="$(find limo_challenges)/worlds/labyrinthe6.world"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="1.57"/>

    <include file="$(find limo_challenges)/launch/limo_ackerman_empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>
    
</launch>
