<?xml version="1.0"?>
<launch>
    
    <arg name="lab" default="1"/>
    <arg name="world_name" default="$(find limo_challenges)/worlds/labyrinthe$(arg lab).world"/>
    <arg name="z" default="0.20"/>
    <arg name="offset_camera" default="true"/>
    <arg name="robot_type" default="ackermann"/>
    
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="yaw" default="1.57" />
    
    <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher">
		<remap from="/camera_info" to="/limo/color/camera_info" />
		<remap from="/image" to="/limo/color/image_raw" />
		<param name="image_is_rectified" value="True"/>
		<param name="marker_size"        value="0.25"/>
	</node>	    

    <param name="marker0" command="$(find xacro)/xacro '$(find limo_challenges)/urdf/marker.xacro' marker:=0" />
    <node name="urdf_spawner_marker0" pkg="gazebo_ros" type="spawn_model" args="-urdf -model marker0 -x 4 -y 5 -z 0.2  -param marker0"/>  
    
    <include file="$(find limo_challenges)/launch/limo_empty_world.launch">
        <arg name="offset_camera" value="$(arg offset_camera)"/>
        <arg name="robot_type" value="$(arg robot_type)"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="yaw" value="$(arg yaw)"/>        
    </include>
    
</launch>
